body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

﻿.table {
    width: 100%;
    padding: 10px 10px 10px 10px;
}

td {
    text-align: center;
}

tr {
    height: 32px;
}

th {
    background-color: rgb(100, 65, 164);
    color: #e8e8e8;
    text-align: center;
    padding: 0 5px 0 5px;
}

tr:nth-child(odd) {
    background-color: #e8e8e8;
    color: rgb(30, 27, 36);
}

tr:nth-child(even) {
    color: #e8e8e8;
}

input {
    width: 100%;
    color: rgb(30, 27, 36);
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input:focus {
    border: 3px solid #555;
}

select{
    color: rgb(30, 27, 36);
}